[access]
	inheritFrom = Public-Plugins
[access "refs/*"]
	owner = group plugins-owners
[project]
	description = Provides a Prolog predicate add_owner_approval/3 that appends label('Owner-Approval', need(_)) to a provided list.
[access "refs/heads/*"]
	push = +force group plugins-owners
[access "refs/for/platform/developers/samples/android/admin/DeviceOwner/Application/src/main/java/com/example/android/deviceowner/DeviceOwnerFragment.java"]
	owner = group Anonymous Users
